PySocks==1.7.1
cachetools==5.3.3
langfuse==2.33.0
linkpreview==0.9.0
llama-index==0.10.40
llama-index-embeddings-cohere==0.1.8
llama-index-embeddings-llamafile==0.1.2
llama-index-embeddings-ollama==0.1.2
llama-index-graph-stores-neo4j==0.2.0
llama-index-llms-cohere==0.2.0
llama-index-llms-llamafile==0.1.2
llama-index-llms-ollama==0.1.5
llama-index-postprocessor-cohere-rerank==0.1.6
llama-index-readers-papers==0.1.6
llama-index-readers-web==0.1.17
llama-index-readers-wikipedia==0.1.4
llama-index-storage-docstore-redis==0.1.2
llama-index-storage-index-store-redis==0.1.2
llama-index-vector-stores-redis==0.2.0
pip-autoremove==0.10.0
pymdown-extensions==10.8.1
python-dotenv==1.0.1
sentence-transformers==3.0.0
solara==1.32.2
starlette==0.37.2
uvicorn==0.30.0
watchdog==4.0.1
watchfiles==0.22.0
websockets==12.0
wikipedia==1.4.0
