async-timeout==4.0.3
chevron==0.14.0
exceptiongroup==1.2.0
jsonpatch==1.33
langfuse==2.26.1
llama-index==0.10.29
llama-index-embeddings-cohere==0.1.7
llama-index-embeddings-ollama==0.1.2
llama-index-graph-stores-neo4j==0.1.4
llama-index-llms-cohere==0.1.6
llama-index-llms-ollama==0.1.2
llama-index-postprocessor-cohere-rerank==0.1.4
llama-index-readers-papers==0.1.4
llama-index-readers-web==0.1.9
llama-index-readers-wikipedia==0.1.4
llama-index-storage-docstore-redis==0.1.2
llama-index-storage-index-store-redis==0.1.2
matplotlib==3.8.4
ollama==0.1.8
orjson==3.10.1
pip==24.0
PyMuPDF==1.24.1
PySocks==1.7.1
python-dotenv==1.0.1
pyvis==0.3.2
sentence-transformers==2.6.1
streamlit==1.33.0
trafilatura==1.8.1
watchdog==4.0.0
wikipedia==1.4.0
